name: Test Suite
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        rails:
          - 6.1.7
          - 7.0.4

    steps:
      - name: Install Postgresql
        run: |
          sudo pg_dropcluster 13 main && echo 'okay'
          sudo pg_dropcluster 14 main && echo 'okay'
          sudo rm -rf /etc/postgresql-common
          sudo apt-get -y --purge remove $(sudo apt list --installed | grep postgresql | awk '{print $1}')
          sudo apt-get install curl ca-certificates gnupg
          curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          sudo apt-get update
          sudo apt-get -y install postgresql-15
          sudo systemctl start postgresql@15-main.service
          sudo systemctl status postgresql@15-main.service
          sudo pg_lsclusters
          sudo -u postgres createuser runner --superuser

      - uses: actions/checkout@v3

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1

      - run: |
          echo 'gem "activerecord", "${{ matrix.rails }}"' >> Gemfile

      - name: Install Ruby Dependencies
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Run Test Suite
        run: bundle exec rake test
